<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="MiSuite">
  <test name="LoginTest">
    <classes>
      <class name="com.automatizacion.runners.TestRunner"/>
    </classes>
  </test>
  


  <!--test name="RegressionTest">
    <classes>
      <class name="com.automatizacion.pruebas.SauceDemo.SauceDemo_LoginTest"/>
    </classes>
  </test-->
</suite>